.bubble {
  width           : 10px;
  height          : 10px;
  border-radius   : 50%;
  animation       : bubbly 0.9s infinite alternate;
}

.bubble2 {
  animation-delay: 0.27s;
}

.bubble3 {
  animation-delay: 0.54s;
}

@keyframes bubbly {
  0% {
    width    : 8px;
    height   : 8px;
    opacity  : 1;
    transform: translateX(0px);
  }

  100% {
    width    : 16px;
    height   : 16px;
    opacity  : 0;
    transform: translateX(-8px);
  }
}